[submodule "JS-Interpreter"]
	path = JS-Interpreter
	url = git@github.com:NeilFraser/JS-Interpreter.git
[submodule "blockly"]
	path = blockly
	url = git@github.com:google/blockly.git
[submodule "WaPEN"]
	path = WaPEN
	url = git@github.com:erianoirp/WaPEN.git
