body {
  background-color: #f3f3f3;
  margin: 0;
}
header {
  height: 50px;
  background: #5f5f5f;
  padding-left: 1em;
  vertical-align: middle;
  line-height: 50px;
}
h1,h2,h3,h4,h5,table {
  color: #343434;
}
h1 {
/*  background-color: #f07f09;*/
  font-size: 140%;
  font-weight: normal;
  color: white;
  margin: 0;
}
h2 {font-size: 200%;}
h3 {font-size: 160%;}
h4 {font-size: 140%;}
h5 {font-size: 105%;}
h5,p {
  margin: 0 0 10px 0;
}
#mainContent {
  background-color: white;
  width: 80%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}
img {
  width: 100%;
}
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  border-bottom: solid 2px #f8f0d0;
}
tr:nth-child(even) {
  background-color: #f8f0d0;
}
th,td {
  padding: 10px;
}
th {
  color: white;
  background-color: #ea8b51;
}
th:first-of-type,td:first-of-type {
  width: 130px;
  border-right: solid 2px white;
};
tbody {
  border-bottom: solid 2px #ea8b51;
}
article {
  width: 100%;
}
section:after { /* 横並びを解除 IE8以上 */
  clear: both;
  content: '';
  display: block;
}
section.blockSection {
  margin-bottom: 25px;
}
.sampleBlock {
  width: 220px;
  height: 120px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription {
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px);
  float: left;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
.sampleBlock-0-1 {
  width: 220px;
  height: 240px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription-0-1 {
  width: -webkit-calc(100% - 220px);
  width: calc(100% - 220px);
  float: left;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
.sampleBlock-1-0 {
  width: 330px;
  height: 120px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription-1-0 {
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  float: left;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
.sampleBlock-1-1 {
  width: 330px;
  height: 240px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription-1-1 {
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  float: left;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
.sampleBlock-1-2 {
  width: 330px;
  height: 360px;
  float: left;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription-1-2 {
  width: -webkit-calc(100% - 330px);
  width: calc(100% - 330px);
  float: left;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
.sampleBlock-2-0 {
  width: 440px;
  height: 120px;
  padding: 2px;
  box-sizing: border-box;
}
.blockDescription-2-0 {
  width: 100%;
  margin: 0;
  padding: 2px 10px;
  box-sizing: border-box;
}
text.blocklyText {
  font-family: monospace;
}

