html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#titleDiv {
  height: 50px;
  background: #5f5f5f;
  padding-left: 1em;
  line-height: 50px;
}
.iconOnTitlebar {
  display: inline-block;
}
.iconOnTitlebar a,img {
  vertical-align: middle;
}
.iconOnTitlebar img {
  width: 25px;
  height: 25px;
}
h1 {
  margin: 0;
  color: white;
  float: left;
  display: inline-block;
}
#title {
  vertical-align: middle;
}
#link2Help {
  margin-left: 5px;
  float: left;
}
#settingButton {
  margin-right: 10px;
  float: right;
}
#settingButton img {
  transition: filter 0.15s linear;
  transition: transform 0.15s ease-out;
}
#settingButton img:hover {
  cursor: pointer;
  filter:brightness(90%);
  -webkit-filter:brightness(90%);
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}
#settingButton img:active {
  position: relative;
  top: 2px;
}
#settingMenu {
  width: 250px;
  height: 180px;
  background-color: white;
  border: solid 1px gray;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}
#settingMenu form {
  display: block;
  margin-bottom: 4px;
  padding-left: 8px;
}
.checkboxOnSettingMenu input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.checkboxOnSettingMenu p {
  display: inline-block;
  line-height: 1.6em;
  vertical-align: middle;
  padding-top: 8px;
  margin: 0 0 8px 0;
}
.radiobuttonOnSettingMenu {
  line-height: 1.6em;
}
.radiobuttonOnSettingMenu p {
  margin: 0;
}
text.blocklyText {
  font-family: monospace;
}
#IDE {
  width: 100%;
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
  padding: 5px;
  box-sizing: border-box;
}
#editor {
  float: left;
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  height: 100%;
  box-sizing: border-box;
}
#content_area {
  height: 95%;
}
#content_blocks{
  margin: 0;
  position: absolute;
  direction: ltr;
}
#lineF2F {
  position: absolute;
}
#result {
  float: right;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
}
#resultTitle {
  height: 34px;
}
#resetButton {
}
#resultTextarea {
  width: 100%;
  height: -webkit-calc(100% - 35px);
  height: calc(100% - 34px);
  border: solid 1px #cccccc;
  box-sizing: border-box;
}
#canvasDiv {
  position: absolute;
  z-index: 1;
}
#canvasTitlebar {
  width: 100%;
  height: 30px;
  background-color: #5f5f5f;
  border-radius: 10px 10px 0 0;
}
#canvas {
  display: block;
  border-right: solid 1px #5f5f5f;
  border-bottom: solid 1px #5f5f5f;
  border-left: solid 1px #5f5f5f;
}
#input {
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  padding: 1em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  border-radius: 5px;
  z-index: 81;
}
#input p {
  margin: 12px 0;
}
#input input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  line-height: 1.5em;
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 0.5em;
  transition: 0.3s;
}
#input input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
#input-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 80;
}
