html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#titleDiv {
  height: 50px;
  background: #5f5f5f;
  padding-left: 1em;
  line-height: 50px;
}
.onTitlebar {
  height: 100%;
  display: inline-block;
}
.onTitlebar a,img,button {
  vertical-align: middle;
}
h1 {
  margin: 0;
  color: white;
  float: left;
}
#title {
  vertical-align: middle;
}
#buttons {
  margin: 0 15px;
}
.myicon21 {
  height: 21px;
  width: 21px;
}
.myicon25 {
  width: 25px;
  height: 25px;
}
#settingButton {
  margin-right: 10px;
  float: right;
}
#settingButton img {
  transition: filter 0.15s linear;
  transition: transform 0.15s ease-out;
}
#settingButton img:hover {
  cursor: pointer;
  filter:brightness(90%);
  -webkit-filter:brightness(90%);
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
}
#settingButton img:active {
  position: relative;
  top: 2px;
}
#settingMenu {
  width: 250px;
  height: 166px;
  background-color: white;
  border: solid 1px gray;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}
.onSettingMenu {
  display: block;
  margin: 2px 0;
  padding-left: 8px;
}
.checkboxOnSettingMenu input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.checkboxOnSettingMenu p {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin: 0;
}
.radiobuttonOnSettingMenu {
  line-height: 1.6em;
}
.radiobuttonOnSettingMenu p {
  margin: 0;
}
#link2Help {
  border-top: solid 1px #ddd;
  height: 32px;
  padding: 0;
  line-height: 32px;
}
#link2Help a {
  display: block;
  width: 100%;
  color: black;
  padding-left: 8px;
  text-decoration:none;
  transition: background-color 0.08s linear;
  transition: color 0.08s linear;
}
#link2Help a:hover {
  color: #444;
  background-color: #eee;
}
#link2Help span {
  margin: 0 4px;
  vertical-align: middle;
}
#linkButton,#languageMenu {
  display: none;
}
#IDE {
  width: 100%;
  height: calc(100% - 50px);
  box-sizing: border-box;
}
#editor {
  float: left;
  width: calc(100% - 300px);
  height: 100%;
  box-sizing: border-box;
}
#content_area {
  height: 100%;
}
#content_blocks{
  margin: 0;
  position: absolute;
  direction: ltr;
}
#lineF2F {
  position: absolute;
}
#sidebar {
  float: left;
  width: 300px;
  height: 100%;
  padding: 0 4px 4px 4px;
  box-sizing: border-box;
}
.onSidebar {
  height: 50%;
}
.titleOnSidebar {
  display: block;
  height: 20px;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}
.displayOnSidebar {
  height: calc(100% - 20px);
  border: solid 1px #cccccc;
  box-sizing: border-box;
  font-size: 13px;
}
#resultTextarea {
  width: 100%;
  resize: none;
}
#contentDncl {
  margin: 0;
  padding-top: 2px;
  padding-left: 4px;
  overflow: auto;
}
#canvasDiv {
  position: absolute;
  z-index: 1;
}
#canvasTitlebar {
  width: 100%;
  height: 30px;
  background-color: #5f5f5f;
  border-radius: 10px 10px 0 0;
}
#canvas {
  display: block;
  border-right: solid 1px #5f5f5f;
  border-bottom: solid 1px #5f5f5f;
  border-left: solid 1px #5f5f5f;
}
#input {
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 300px;
  height: 100px;
  padding: 1em;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  border-radius: 5px;
  z-index: 81;
}
#input p {
  margin: 12px 0;
}
#input input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  line-height: 1.5em;
  font-size: 1em;
  box-sizing: border-box;
  margin-top: 8px;
  padding-left: 0.5em;
  transition: 0.3s;
}
#input input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}
#input-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 80;
}
text.blocklyText {
  font-family: monospace;
}
.blocklyTreeLabel {
  font-size: 11px;
}
.blocklyTreeIconNone, .blocklyTreeSelected > .blocklyTreeIconNone {
  width: 4px;
}
