html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#blocklyArea {
  float: left;
  width: 100%;
  height: 60%;
  margin-right: -300px;
  padding-right: 300px;
  box-sizing: border-box;
}

#blocklyDiv {
  padding: 0;
}

#resultArea {
  float: right;
  width: 300px;
}
